.info-container {
  margin-top: 3%;
  width: 100%;
}

#title {
  font-size: 2rem;
  margin-left: 8%;
  margin-top: 3%;
}

.email-container, .edu-container {
  margin-top: 15%;
  padding-left: 5%;
}

.name-container, .dob-container {
  padding-left: 5%;
  padding-right: 15%;
}

.subtitle {
  font-size: 1.1rem;
  color: #95A5A6;
}

.info {
  font-size: 1.5rem;
  text-indent: 1.5em;
}

.table-container {
  width: 100%;
  border: 1px solid #95A5A6;
}

.table-heading {
  background-color: #22a7f0;
  color: white;
}

.td {
  padding: 10px 5px;
}

.eye-icon {
  width: 100%;
}

.modalUp {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
}

.openModalBtn:hover {
  cursor: pointer;
}

#single-candidate-content{
  height: 150vh;
}