.info-container {
  margin-top: 3%;
  width: 100%;
}

#title {
  font-size: 2rem;
  margin-left: 8%;
  margin-top: 3%;
}

.email-container, .edu-container {
  margin-top: 15%;
  padding-left: 5%;
}

.name-container, .dob-container {
  padding-left: 5%;
  padding-right: 15%;
}

.modalUp {
    background: rgba(0, 0, 0, 0.8);
}

.openModalBtn:hover {
  cursor: pointer;
}

.table-container {
  width: 100%;
}

.table-border {
  border: 1px solid #95A5A6;
}

.table-heading {
  background-color: #22A7F0;
  color: white;
}

.subtitle {
  font-size: 1.1em;
  color: #95A5A6;
}

.info {
  font-size: 1.5rem;
  text-indent: 1.5em;
}

.eye-icon {
  width: 100%;
  padding-right: 10%;
  padding-left: 5%;
}
