.report-data {
    border: 1px solid #95A5A6;
    padding: 1%;
}

.report-info {
    font-size: 1.1rem;
}

.tiny-text {
    font-size: 0.8rem;
    color: #95A5A6;
}

.close-icon {
    margin-left: 10%;
}

.close-icon:hover, .eye-icon:hover {
    cursor: pointer;
}
.reports-container{
    height: 150vh;
    z-index: 3;
}