.steps {
  font-size: 20px;
  opacity: 0.8;
}
li.steps::marker {
  font-size: 30px;
}
.active {
  font-size: 30px;
  opacity: 1;
  font-weight: bold;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border-right: 2px solid black;
  margin-top: 2%;
}
li {
  padding: 20px;
  text-align: left;
}
ol {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

#wrapper {
  padding-top: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
=======
  flex-wrap: wrap;
}

.candidateSelected {
  border-top: 2px solid black;
  width: 50%;
  list-style: none;
  margin: 0 auto;
  font-size: 20px;
  opacity: 0.8;
}
.info {
  text-align: left;
}
.name {
  font-weight: bold;
  opacity: 1;
>>>>>>> 4ec621409f720ec55313ceb469b85df7dbd1bdec
}
