.card {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card img{
   object-fit: contain;
}
#candidate{
    margin-bottom: 30px;
}
#candidate-avatar{
    width: 50%;
}

