.card {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card img{
   object-fit: contain;
}

.card:hover {
    margin-top: -10px;
    width: 120%;
    transition: 300ms;
}

#candidate{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 80px;
    margin-top: 100px;
    margin-bottom: 60px;
}
