footer {
    width: 100vw;
    color: white;
    text-align: center;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
.creators{
    margin-left: 5px;
}
