.header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 31%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    height: 290px !important;
    max-height: 400px;
}

.button {
    height: 30px;
    font-size: 15px;
    color: white;
    border-color: white;
    margin-top: 20px;
}
.interview-text {
    opacity: 0.9;
}

