nav{
    width: 100vw;
}
.header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 31%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    /* align-items: center; */
    height: 70px !important;
    padding-top: 20px;
}

.button {
    height: 30px;
    font-size: 15px;
    color: white;
    border-color: white;
}
.second-btn{
    margin-left: 10px;
}