.header {
    width: 100vw;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 31%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    height: 65px !important;
}

.button {
    height: 30px;
    font-size: 15px;
    color: white;
    border-color: white;
}
.second-btn{
    margin-left: 5px;
}
@media (max-width: 375px) {
    .header-text{
        font-size: 14px;
    }
    .button{
        font-size: 12px;
        height: 25px;
    }
}