.search-input {
    border-radius: 5px;
}
#candidate-box{
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    height: 100vh;
}

@media (max-width: 430px) {
    h5{
    font-size: 18px;
    margin-left: 20px;
    }
}
@media (max-width: 380px) {
    h5{
    font-size: 16px;
    margin-left: 20px;
    }
}