.card-info {
  padding: 10px;
}
.longer1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 10px;
  word-break: break-all;
  white-space: normal;
  height: 100px;
}
#wrapper {
  padding-top: 20px;
  height: 120vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}

.selected {
  border: 4px solid #2196f3;
}
@media screen and (max-width: 1400px) {
  .longer1 {
    font-size: 10px;
  }
}
@media screen and (max-width: 600px) {
  .longer1 {
    font-size: 18px;
  }
}
